<%= render 'shared/header' %>
<%= render 'shared/menu' %>
<div class="container">
  <div class="follow-list">
    <div class="follow-list__title">
      フォロー
    </div>
    <div class="table-responsive">
      <table class="table">
        <% @my_follow.each do |follow| %>
          <tr class="follow-list">
            <td>
              <%= link_to profile_path(follow.followed), class: "follow-list__td" do %>
                <div class="follow-list__image">  
                  <%= image_tag follow.followed.image, class: "follow-list-img rounded" %>
                </div>
                <div class="follow-list__name">
                  <%= follow.followed.name %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>