<%= render 'shared/header' %>
<%= render 'shared/menu' %>
<div class="container">
  <%= form_with model: @profile, url: profiles_path, local: true do |form| %>
    <%= render 'shared/error_messages', model: form.object %>
    <div class="profile-new">
      <h4 class="profile-new__title">あなたのことを教えてください</h4>

      <div class="profile-new__image">
        <i class="far fa-images"></i>
        <%= form.label :image_file, "画像を選ぶ", class: "profile-image" do %>
          <% form.file_field :image %>
        <% end %>
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text">お名前</span>
        <%= form.text_field :name, class: "profile-new__input", placeholder: "Your name" %>
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text">お店の名前</span>
        <%= form.text_field :store_name, class: "profile-new__input", placeholder: "Store name" %>
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text">お店のURL</span>
        <%= form.text_field :store_url, class: "profile-new__input", placeholder: "https://example.com" %>
      </div>

      <div class="profile-new__message mb-4">
        <%= form.text_area :text, class: "profile-new__input", placeholder: "自己紹介や、皆様へのメッセージをお書きください", style: "height: 400px" %>
      </div>

      <div class="button">
        <%= form.submit "登録する", class: "btn btn-outline-secondary" %>
      </div>

    <% end %>
  </div>
</div>