<%= render 'articles/header' %>
<div class="container">
  <% if @profile.user == current_user %>
    <i class="bi bi-pencil">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg>
    </i>
    <%= link_to "編集", edit_profile_path(@profile.id), class: "text-dark" %>
  <% end %>
    <%= image_tag @profile.image, class: "img-fulied img-thumbnail rounded-circle mx-auto d-block", width: "500", height: "200" %>

    <div class="text-center">
      <%= @profile.name %>
    </div>
    <% if user_signed_in? && current_user != @profile.user %>
      <% if current_user.already_liked?(@profile) %>
        <%= link_to profile_likes_path(@profile), method: :delete do %>
          <svg xmlns="http://www.w3.org/2000/svg" class= "unlike" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        <% end %>
      <% else %>
        <%= link_to profile_likes_path(@profile), method: :create do %>
          <svg xmlns="http://www.w3.org/2000/svg" class= "like" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        <% end %>
      <% end %>
      <%= @profile.likes.count %>
    <% end %>
    <div class="">
      <%= @profile.store_name %>
      <%= @profile.store_url %>
      <%= @profile.text %>
    </div>
    <div class="">
      <% @profile.articles.order("created_at DESC").each do |articles| %>
        <%= image_tag articles.image.variant(resize: '300x500'), width: "300", height: "200", class: "img-fluid" %>
        <%= link_to articles.title, article_path(articles.id), class: "text-dark" %>
      <% end %>
    </div>
  
</div>
