<%= render 'articles/header' %>
<div class="container">
  <% if @profile.user == current_user %>
    <i class="bi bi-pencil">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg>
    </i>
    <%= link_to "編集", edit_profile_path(@profile.id), class: "text-dark" %>
  <% end %>
  <div class="profile-img">
    <%= image_tag @profile.image, class: "img-fluid" %>
  </div>
  <div class="text-center">
    <strong><%= @profile.name %></strong>
  </div>
  <%= link_to "フォロー", followed_profile_path, class: "text-secondary" %>
  <%= link_to "フォロワー", follower_profile_path, class: "text-secondary" %>
  <%= render 'relationships/relationship' %>
  <% if user_signed_in? && current_user != @profile.user%>  
    <%= link_to new_profile_gifts_path(@profile) do %>
      <div class="btn btn-outline-success">
        <i class="fas fa-gift"></i>
        ギフトを贈る
      </div>
    <% end %>
  <% end %>
    <div class="profile">
      <div class="">
        <%= @profile.store_name %>
        <%= @profile.store_url %>
        <%= @profile.text %>
      </div>
      
      <div class="article-profile">
        <% @profile.articles.order("created_at DESC").each do |articles| %>
          <%= image_tag articles.image.variant(resize: '300x500'), width: "300", height: "200", class: "img-fluid" %>
          <%= link_to articles.title, article_path(articles.id), class: "text-dark" %>
        <% end %>
      </div>
    </div>
</div>