<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "YouMe", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <form class="d-flex">
        <%= search_form_for @search, url: articles_path do |f| %>
          <%= f.search_field :text_cont, class: "form-control me-2", type: "search", placeholder: 'キーワードを入力' %>
          <%= button_tag type: 'submit', class: "btn btn-outline-secondary" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          <% end %>
        <% end %>
        </form>
        <li class="nav-item">
          <% unless user_signed_in? %>
            <%= link_to "新規登録", new_user_registration_path, class:  "nav-link" %>           
          <% end %>
        </li>
        <li class="nav-item">
          <% unless user_signed_in? %>
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          <% end %>     
        </li>
        <li class="nav-item">
          <% if user_signed_in? && current_user.profile.nil? %>
            <%= link_to current_user.nickname, "#", class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? && current_user.profile.present? %>
            <%= link_to "投稿", new_article_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <% if current_user.profile.nil? %>
              <%= link_to "プロフィール", new_profile_path, class: "nav-link" %>
            <% else %>
              <%= link_to current_user.profile.name, profile_path(current_user.profile.id), class: "nav-link" %>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%#= link_to current_user.nickname, "#", class: "user-nickname" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
