<%= render 'shared/header' %>
<%= render 'shared/menu' %>
<div class="container-fluid">
  <div class="article row">
    <div class="menu__cover"></div> 
    <% @search_articles.each do |article| %>
      <div class="article-index__inner col-md-6 col-lg-4 ">
        <%= link_to article_path(article.id) do %>
          <div class="article-index__image">
            <%= image_tag article.image, class: "article-index-img rounded" %>
          </div>
          <div class="article-index__title">
            <%= article.title %>
          </div>
        <% end %>
        <div class="article-index__under-row">
          <div class="article-index__profile">
            <%= link_to profile_path(article.profile_id), class: "article-index__profile-link" do %>
              <div class="article-index__profile__image">
                <%= image_tag article.profile.image, class: "article-index-profile-img" %>
              </div>
              <div class="article-index__profile__name">
                <%= article.profile.name %>
              </div>
            <% end %>
          </div>
          <div class="article-index__like">
            <i class="far fa-heart"></i>
            <%= article.likes.count%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <%# <nav class="menu">
      <ul class="menu__main">
          <li class="menu__item">
              <a class="menu__link" href="#">
                  <span class="main-title">Service</span>
                  <span class="sub-title">サービスについて</span>
              </a>
          </li>
          <li class="menu__item">
              <a class="menu__link" href="#">
                  <span class="main-title">Company</span>
                  <span class="sub-title">企業情報</span>
              </a>
          </li>
          <li class="menu__item">
              <a class="menu__link" href="#">
                  <span class="main-title">Recruit</span>
                  <span class="sub-title">採用情報</span>
              </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
                <span class="main-title">Contact</span>
                <span class="sub-title">お問い合わせ</span>
            </a>
        </li>
      </ul>
  </nav> %>
</div>