<%= render 'articles/header' %>

<div class="container-fluid">
  <div class="article-index row">
    <%= render 'articles/menu' %>
    <% @search_articles.each do |article| %>
      <div class="article col-md-4">
        <%= image_tag article.image, class: "img-fluid rounded" %>
        <p><%= link_to article.title, article_path(article.id), class: "text-dark" %></p>
        <p><%= link_to article.profile.name, profile_path(article.profile_id), class: "text-dark" %></p>
      </div>
    <% end %>
  </div>
</div>