<% if @profile.user == current_user %>
  <i class="fas fa-pencil-alt"></i>
  <%= link_to "編集", edit_profile_path(@profile.id), class: "text-dark" %>
<% end %>
<div class="profile-show-img">
  <%= image_tag @profile.image, class: "profile-img"%>
</div>
<div class="profile-show__name">
  <strong><%= @profile.name %></strong>
</div>
<div class="profile-show__store-name">
  ~ <%= @profile.store_name %> ~
</div>
<div class="profile-show__row">
  <%= render 'relationships/relationship' %>
  <% if user_signed_in? && current_user != @profile.user%>  
    <%= link_to new_profile_gifts_path(@profile) do %>
      <div class="profile-show__gift btn btn-outline-success">
        <i class="fas fa-gift"></i>
        ギフトを贈る
      </div>
    <% end %>
  <% end %>
</div>
<div class="profile-follows">
  <%= @profile.user.followeds.count %>
  <%= link_to "フォロー", followed_profile_path, class: "text-secondary" %>
  <%= @profile.followers.count %>
  <%= link_to "フォロワー", follower_profile_path, class: "text-secondary" %>
</div>
<ul class="profile-show__list">
  <li class="profile-show__lists">
    <%= link_to "ホーム", profile_path %>
  </li>
  <li class="profile-show__lists">
    <%= link_to "お店", @profile.store_url %>
  </li>
  <li class="profile-show__lists">
    <%= link_to "メッセージ", message_profile_path %>
  </li>
</ul>