<% if @profile.user == current_user %>
  <i class="fas fa-pencil-alt"></i>
  <%= link_to "編集", edit_profile_path(@profile.id), class: "text-dark" %>
<% end %>
<div class="profile-show-img">
  <%= image_tag @profile.image, class: "profile-img"%>
</div>
<div class="profile-show__name">
  <strong><%= @profile.name %></strong>
</div>
<div class="profile-show__store-name">
  ~ <%= @profile.store_name %> ~
</div>
<div class="profile-show__row">
  <%= render 'relationships/relationship' %>
  <% if user_signed_in? && current_user != @profile.user%>  
    <%= link_to new_profile_gifts_path(@profile) do %>
      <div class="profile-show__gift btn btn-outline-success">
        <i class="fas fa-gift"></i>
        ギフトを贈る
      </div>
    <% end %>
  <% end %>
</div>

<%# <% <div class="container">
  <button type="button" class="button" data-modal-open="modal-1">
    OPEN
  </button>
  
  <div class="modal" id="modal-1">
    <div class="modal-overlay" data-modal-close>
      <div class="modal-container">
        <h2 class="modal-title">モーダルウィンドウ</h2>
        <div class="modal-content">
          <p>モーダルウィンドウ（英: modal window）は、コンピュータアプリケーションソフトウェアのユーザインタフェース設計において、何らかのウィンドウの子ウィンドウとして生成されるサブ要素のうち、ユーザーがそれに対して適切に応答しない限り、制御を親ウィンドウに戻さないもの。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="button" data-modal-close="modal-1">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div> %>
            <%# <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              <i class="fas fa-gift"></i>
              ギフトを贈る
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-title" id="exampleModalCenterTitle">
                      <h3 class="card-title text-center mb-4 mt-1"><%= simple_format("#{@profile.name}さん<br>に100円分のギフトを贈ります") ></h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-hand-holding"></i>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> %>

<div class="profile-follows">
  <%= @profile.user.followeds.count %>
  <%= link_to "フォロー", followed_profile_path, class: "text-secondary" %>
  <%= @profile.followers.count %>
  <%= link_to "フォロワー", follower_profile_path, class: "text-secondary" %>
</div>
<ul class="profile-show__list">
  <li class="profile-show__lists">
    <%= link_to "ホーム", profile_path %>
  </li>
  <li class="profile-show__lists">
    <%= link_to "お店", @profile.store_url %>
  </li>
  <li class="profile-show__lists">
    <%= link_to "メッセージ", message_profile_path %>
  </li>
</ul>