<%= render 'articles/header' %>
<%= form_with model: @user, url: user_session_path do |f| %>
  <title>ログイン</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <body>

  <div class="container">
    <div class="card-container">
      <div class="card-body">
          <h3 class="card-title text-center mb-4 mt-1">おかえりなさい</h3>
          <hr>
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス", type: "email" %>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード", type: "password" %>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <%= f.submit "ログイン", class: "btn btn-outline-secondary btn-block" %>
            </div> <!-- form-group// -->
          </form>
      </div>
    </div>
  </div>
<% end %>
