<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "YouMe", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
      <li class="nav-content">
        <%= link_to "新規登録はこちら", new_user_registration_path, class:  "nav-link" %>      
      </li>
    </ul>
  </div>
</nav>
<%= form_with model: @user, url: user_session_path do |f| %>
  <div class="container">
    <div class="card-container">
      <div class="card-body">
          <h3 class="card-title text-center mb-4 mt-1">おかえりなさい</h3>
          <hr>
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス", type: "email" %>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード", type: "password" %>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <%= f.submit "ログイン", class: "btn btn-outline-secondary btn-block" %>
            </div> <!-- form-group// -->
          </form>
      </div>
    </div>
  </div>
<% end %>
